<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 dark:hover:bg-gray-700 sm:px-6">
  <div class="flex gap-x-4">
    <%= user_avatar(user, size: 12, classes: "flex-none") %>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6">
        <%= link_to admin_user_path(user) do %>
          <span class="absolute inset-x-0 -top-px bottom-0"></span>
          <%= user.full_name %>
        <% end %>
      </p>
      <p class="mt-1 flex text-xs leading-5 text-gray-500 dark:text-gray-300">
        <a href="mailto:<%= user.email %>" class="relative truncate hover:underline"><%= user.email %></a>
      </p>
    </div>
  </div>
  <div class="flex items-center gap-x-4">
    <div class="hidden sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6">Co-Founder / CEO</p>
      <p class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-300">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
    </div>
    <svg class="h-5 w-5 flex-none text-gray-400 dark:text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
  </div>
</li>
