<%= page_title(@user.full_name_or_email) %>
<%= page_actions do %>
  <%= link_to "Cancelar", admin_user_path(@user), class: "btn btn-danger" %>
<% end %>

<%= form_with model: @user, url: admin_user_path(@user), method: :put, class: "space-y-6" do |f| %>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <%= f.label :first_name, class: "form-label" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div>
      <%= f.label :last_name, class: "form-label" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div>
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="flex items-center">
    <%= f.check_box :sudo, class: "form-check" %>
    <%= f.label :sudo, class: "form-label ml-2" %>
  </div>

  <%= f.submit "Salvar", class: "btn btn-primary" %>
<% end %>
