<section class="bg-gray-50 dark:bg-gray-900 py-3 sm:py-5">
  <div class="mx-auto max-w-screen-2xl">
    <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
      <div class="px-4 divide-y dark:divide-gray-700">
        <div class="flex items-center justify-between space-x-4 pt-4 pb-2">
          <div class="flex-1 flex items-center space-x-3">
            <h5 class="dark:text-white font-semibold text-3xl">All Users</h5>
          </div>
        </div>
        <div class="flex flex-col-reverse md:flex-row items-center justify-between md:space-x-4 py-4">
          <div class="w-full lg:w-2/3 flex flex-col space-y-3 md:space-y-0 md:flex-row md:items-center">
            <%= form_with model: @users, url: admin_users_path, method: :get, class: "w-full md:max-w-sm flex-1 md:mr-4", data: { turbo_frame: "users_data_table" } do |f| %>
              <%= label_tag "Search", :search, class: "text-sm font-medium text-gray-900 sr-only dark:text-white" %>
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                  </svg>
                </div>
                <%= text_field_tag :search, {}, placeholder: "Search for ID and OnwerID", class: "block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
                <%= f.submit "Search", class: "text-white absolute right-0 bottom-0 top-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-r-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
              </div>
            <% end %>
          </div>
          <div class="w-full md:w-auto flex flex-col md:flex-row mb-3 md:mb-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
            <%= link_to new_admin_user_path, data: { turbo_frame: "drawer" }, class: "flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" do %>
              <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
              </svg>
              Add new user
            <% end %>
          </div>
        </div>
      </div>
      <%#= component("drawer") %>
      <%= turbo_frame_tag "users_data_table" do %>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-4 py-3">ID</th>
                <th scope="col" class="px-4 py-3">Email</th>
                <th scope="col" class="px-4 py-3">Full Name</th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">Sudo?</th>
                <th scope="col" class="px-4 py-3">Created At</th>
                <th scope="col" class="px-4 py-3">Updated At</th>
                <th scope="col" class="px-4 py-3 whitespace-nowrap">Deleted At</th>
                <th scope="col" class="px-4 py-3">
                  <span class="sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <%- @users.each do |user| %>
                <%= render "user", user: user %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex flex-col items-center justify-center p-4 space-y-3 md:flex-row md:items-center md:space-y-0" aria-label="Table navigation">
          <%= pagination(@pagy) %>
        </div>
      <% end %>
    </div>
  </div>
</section>
