<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-50 h-full">
    <header>
      <%= component("alert", message: notice, type: :success) %>
      <%= component("alert", message: alert, type: :alert) %>
      <%= component("alert", message: flash[:error], type: :error) %>
      <%= component("navbar", user: current_user, custom_classes: "font-bold") %>
    </header>
    <main class="py-2.5 mx-auto max-w-screen-xl">
      <%= yield %>
      <div class="fixed bottom-5 right-5">
        <%= component("dark_mode_button") %>
      </div>
    </main>
  </body>
</html>
