<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-50 h-full">
    <%= render "shared/alert" %>
    <main class="grid grid-cols-1 md:grid-cols-2">
      <%= render "shared/sidebar" %>
      <div>
        <%= yield %>
        <%= button_to "Sair", destroy_admin_session_path, method: :delete, data: { turbo_method: :delete } %>
        <div class="fixed right-5 bottom-5">
          <%= render "shared/dark_mode_button" %>
        </div>
      </div>
    </main>
  </body>
</html>
