<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-50 h-full">
    <main class="py-2.5 mx-auto max-w-screen-xl">
      <%= yield %>
      <%= button_to "Sair", destroy_admin_session_path, method: :delete, data: { turbo_method: :delete } %>
    </main>
  </body>
</html>
