<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body>
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
      <%= render "shared/alert" %>
      <%= render "shared/admin/navbar" %>
      <%= render "shared/admin/sidebar" %>
      <main class="p-4 md:ml-64 h-auto pt-20">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
