<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-50 h-full">
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
      <!-- Navbar -->
      <%= render "layouts/admin/navbar" %>

      <!-- Sidebar -->
      <%= render "layouts/admin/sidebar" %>

      <%= turbo_frame_tag "flash", class: "fixed top-10 right-5 z-50" do %>
        <%= render partial: "layouts/admin/flash" %>
      <% end %>

      <main class="p-4 md:ml-64 h-auto pt-20">
        <!-- Page Heading -->
        <%= component("page_heading", title: (yield :page_title), custom_classes: "pt-10") do |component| %>
          <% component.with_action do %>
            <%= yield :page_actions %>
          <% end %>
        <% end %>

        <!-- Page Content -->
        <%= yield %>

        <%= turbo_frame_tag :modal %>
        <%= turbo_frame_tag :drawer %>
      </main>
    </div>
  </body>
</html>
