<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title><%= content_for(:title) || "Boilerplate" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application' %>
  </head>
  <body>
    <%= render "shared/alert" %>
    <%= render "shared/navbar" %>
    <main class="mx-auto max-w-screen-xl py-12 px-4">
      <%= yield %>
      <div class="fixed right-5 bottom-5">
        <%= render "shared/dark_mode_button" %>
      </div>
    </main>
  </body>
</html>
