<!DOCTYPE html>
<html class="dark:bg-gray-900 dark:text-gray-50 h-screen">
  <head>
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', data: { "turbo-track": "reload" }, defer: true %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-50 h-full">
    <main class="p-4 max-w-screen-xl">
      <%= yield %>
      <div class="fixed bottom-5 right-5">
        <%= component("dark_mode_button") %>
      </div>
    </main>
  </body>
</html>
