<%= content_for :page_title, "Edite sua conta" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div>
    <%= f.label :first_name, "Nome", class: "form-label" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
  </div>
  <div>
    <%= f.label :last_name, "Sobrenome", class: "form-label" %>
    <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %>
  </div>
  <div>
    <%= f.label :avatar, "Avatar", class: "form-label" %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <div>
    <%= f.label :email, "Informe seu e-mail", class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div>
    <%= f.label :password, "Nova senha", class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em class="text-sm text-gray-500">
        <%= @minimum_password_length %> caracteres mínimos
      </em>
    <% end %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirme a nova senha", class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <div>
    <%= f.label :current_password, "Senha atual", class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Atualizar", class: "form-submit" %>
  </div>
<% end %>
<div class="mt-6">
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?", turbo_confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class: "btn btn-danger w-full flex items-center justify-center" %>
</div>
